/* Colors */
/* Background Color */
/* Text Colors */
/* Border Radius */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
* {
  font-family: 'Inter', sans-serif; }

body {
  background-color: #080808;
  padding: 0;
  margin: 0; }

.principal__wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto; }
  @media (min-width: 1720px) {
    .principal__wrapper {
      width: 70%;
      margin: 0 auto; } }

.copyright-text {
  margin-top: 5px;
  font-size: 12px;
  color: #79797B; }

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px; }
  @media (min-width: 1820px) {
    .header__wrapper {
      width: 100%; } }

.header__logo img {
  width: 160px; }

.nav__menu {
  display: flex;
  list-style: none; }
  .nav__menu li {
    color: white;
    margin-left: 30px; }
    .nav__menu li a:link {
      color: white;
      text-decoration: none; }
    .nav__menu li a:visited {
      color: #ffff; }
    .nav__menu li a:hover {
      color: #FF6F1E; }

.header__menu ul li a:active {
  color: #FF6F1E; }

.artist__title {
  color: white; }

.logged__user {
  border: 1px solid red;
  display: flex; }

.artist__view {
  display: flex;
  justify-content: space-between;
  width: 55%;
  border: 1px solid red; }

.gorillaz__view img {
  width: 150px;
  height: 150px; }

.gorillaz__view h4 {
  color: #ffff; }

.gorillaz__view p {
  color: #79797B;
  font-size: 16px; }

.aurora__view img {
  width: 150px;
  height: 150px; }

.aurora__view h4 {
  color: #ffff; }

.aurora__view p {
  color: #79797B;
  font-size: 16px; }

.radiohead__view img {
  width: 150px;
  height: 150px; }

.radiohead__view h4 {
  color: #ffff; }

.radiohead__view p {
  color: #79797B;
  font-size: 16px; }

.logged__view {
  background-color: #211F27;
  border-radius: 15px;
  border: 1px solid #6320EE;
  width: 500px; }

.logged__info {
  width: 80%;
  margin: 0 auto;
  border: 1px solid yellow; }
  .logged__info .logged__text h2 {
    color: white; }
  .logged__info .logged__text p {
    color: #ffff; }
  .logged__info .logged__img {
    display: flex; }
    .logged__info .logged__img img {
      width: 200px; }
  .logged__info .logged__song h3 {
    color: white; }
  .logged__info .logged__song p {
    color: white; }
  .logged__info .logged__song button {
    background-color: #211F27;
    border: none; }
    .logged__info .logged__song button img {
      width: 35px; }

/*Artist View*/
.artist__wrapper {
  max-width: 100%; }
  .artist__wrapper h2 {
    color: white;
    margin: 40px 0 15px; }
  .artist__wrapper span {
    color: #FF6F1E; }
  @media (min-width: 1720px) {
    .artist__wrapper {
      margin-top: 80px; } }

.artist__display {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/* .artist__songs {

  @media(min-width: 1300px){
    height: 390px;
    overflow-y: scroll;
  }
}
 */
.lists__songs {
  width: 700px;
  list-style: none;
  padding: 0;
  margin: 0; }
  .lists__songs li {
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    background-color: #211F27;
    border-radius: 15px; }
  .lists__songs img {
    width: 45px; }
  .lists__songs p {
    color: white; }
  .lists__songs span {
    margin-left: 40px;
    color: #79797B; }
  .lists__songs button {
    border: none;
    background-color: #211F27; }
    .lists__songs button img {
      width: 35px; }

/* Artist Bio */
.artist-bio {
  background-color: #211F27;
  border-radius: 15px;
  border: 1px solid #6320EE; }

.artist-info {
  width: 300px;
  padding: 30px 50px; }
  .artist-info img {
    width: 300px; }
  .artist-info h3 {
    color: #FF6F1E; }
  .artist-info p {
    color: #ffff; }

.profile__wrapper {
  border: 1px solid blue;
  display: flex;
  margin-top: 50px; }

.profile__bio {
  background-color: #211F27;
  border-radius: 15px;
  width: 500px; }

.profile__info {
  margin: 0 auto;
  width: 90%; }
  .profile__info p {
    color: #ffff;
    font-size: 18px; }
  .profile__info .profile__name {
    margin-top: 15px; }
    .profile__info .profile__name form {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .profile__info .profile__name form label {
        color: #ffff;
        font-size: 18px;
        padding: 10px 10px; }
      .profile__info .profile__name form input {
        display: none; }
      .profile__info .profile__name form button {
        background-color: #211F27;
        border: none;
        cursor: pointer;
        margin-right: 10px;
        padding: 0; }
    .profile__info .profile__name img {
      height: 30px;
      width: 30px; }
  .profile__info .profile__recents {
    align-items: center;
    background-color: #1B1B1B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 10px 10px 10px; }
    .profile__info .profile__recents .recent__title {
      align-items: center;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      width: 100%; }
      .profile__info .profile__recents .recent__title p {
        margin: 10px; }
    .profile__info .profile__recents .song__recent {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%; }
      .profile__info .profile__recents .song__recent p {
        margin-left: -150px; }
    .profile__info .profile__recents img {
      height: 30px;
      margin-left: 5px;
      width: 30px; }
    .profile__info .profile__recents button {
      background-color: #1B1B1B;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0; }
  .profile__info .profile__favorites {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .profile__info .profile__favorites img {
      height: 30px;
      width: 30px; }

/* Accordion styles */
.tabs {
  border-radius: 15px;
  border: none;
  overflow: hidden; }

.tab {
  color: white;
  overflow: hidden;
  width: 100%; }
  .tab__label {
    align-items: center;
    background: #211F27;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    height: 40px;
    justify-content: space-between;
    padding: 10px 10px;
    /* Icon */ }
    .tab__label:hover {
      background: #1B1B1B;
      border-radius: 15px 15px 0 0; }
    .tab__label::after {
      content: "\276F";
      height: 18px;
      margin-right: 7px;
      text-align: center;
      transition: all .35s;
      width: 18px; }
  .tab__content {
    background: #1B1B1B;
    color: white;
    max-height: 0;
    padding: 0 1em;
    transition: all .35s; }
  .tab-close {
    background: white;
    cursor: pointer;
    display: flex;
    font-size: 0.75em;
    justify-content: flex-end;
    padding: 16px; }
    .tab-close:hover {
      background: #211F27; }
  .tab input {
    display: none; }

input:checked {
  display: none; }
  input:checked + .tab__label {
    background: #1B1B1B; }
    input:checked + .tab__label::after {
      transform: rotate(90deg); }
  input:checked ~ .tab__content {
    max-height: 100vh;
    padding: 1em; }

/* Playlists */
.users__playlist ul {
  list-style: none;
  padding: 0; }

.users__playlist li button {
  background-color: #211F27;
  border-radius: 10px;
  border: none;
  color: #ffff;
  font-size: 18px;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px 10px;
  text-align: start;
  width: 100%; }

.users__playlist li button:hover {
  background-color: #1B1B1B;
  border: 1px solid #79797B; }

.music__animation {
  border: 1px solid white; }

.music__song {
  border: 1px solid red; }
