/* Colors */
$first-color: #080808;
$second-color: #211F27;
$third-color: #6320EE;
$fourth-color: #FF6F1E;
$fifth-color: #79797B;
$sixth-color: #008926;
$seventh-color: #81DEA0;
$eighth-color: #ffff;
$nineth-color: #1B1B1B;
$tenth-color: #3703A4;
$eleventh-color: #C24904;

/* Background Color */
$first-background: $first-color;
$second-background: $second-color;

/* Text Colors */
$first-text-color: $eighth-color;
$second-text-color: $fifth-color;
$third-text-color: $fourth-color;

/* Border Radius */
$first-border-radius: 5px;
$second-border-radius: 10px;
$third-border-radius: 15px;

/* Buttons Hovers */
$first-hover-btn: $tenth-color;
$second-hover-btn: $eleventh-color;
