.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;

  @media(min-width: 1820px){
    width: 100%;
  }
}

.header__logo {

  img {
    width: 160px;
  }
}

.nav__menu {
  display: flex;
  list-style: none;
  li {
    color: white;
    margin-left: 30px;

    a:link {
      color: white;
      text-decoration: none;
    }
    a:visited {
      color: $eighth-color;
    }
    a:hover {
      color: $third-text-color;
    }
  }
}

.header__menu ul li a:active {
  color: #FF6F1E;
}