.loggin__wrapper {
    display: flex;
    justify-content: space-between;   
    margin-top: 30px;
}

.loggin__artist{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 650px;
}

.show__artist {

    h1 {
        color: $first-text-color;
        margin: 0px 0px 40px;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #showArtist {

        img {
            border-radius: $third-border-radius;
            height: 150px;
            width: 150px;
        }
        
    }
}

.form__wrapper {
    background-color: $second-background;
    border-radius: $third-border-radius;
    width: 400px;

    .sign__title {
        color: $first-text-color;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .create__title {
        color: $first-text-color;
        margin-bottom: 10px;
        margin-top: 0;
    }
}

.sign__wrapper {
    margin: 0 auto;
    width: 300px;
}

.sign__container {
    display: flex;
    flex-direction: column;

    label {
        color: $first-text-color;
        margin-bottom: 10px;
    }
    input {
        background-color: $second-background;
        border-radius: $first-border-radius;
        border: 1px solid $fifth-color;
        color: $first-text-color;
        height: 30px;
        margin-bottom: 15px;
    }
}

.btn__sign{

    background-color: $third-color;
    border-radius: $first-border-radius;
    border: none;
    color: $first-text-color;
    font-weight: bold;
    height: 35px;
    letter-spacing: normal;
    width: 100%;

    &:hover {
        background-color: #3703A4;
    }
}

.form__division {

    align-items: center;
    color: $second-text-color;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-between;
    margin: 0 auto;
    width: 300px;

    .line__division {

        width: 120px;

        hr {
            background-color: $second-text-color;
            border: none;
            height: 1px;
        }   
    }
}

.create__wrapper {
    margin: 0 auto;
    width: 300px;
}

.create__container {
    display: flex;
    flex-direction: column;

    label {
        color: $first-text-color;
        margin-bottom: 10px;
    }
    input {
        background-color: $second-background;
        border-radius: $first-border-radius;
        border: 1px solid $fifth-color;
        color: $first-text-color;
        height: 30px;
        margin-bottom: 15px;
    }
}

.btn__create{

    background-color: $fourth-color;
    border-radius: $first-border-radius;
    border: none;
    color: $first-text-color;
    font-weight: bold;
    height: 35px;
    letter-spacing: normal;
    margin-bottom: 30px;
    width: 100%;

    &:hover {
        background-color: $second-hover-btn;
    }
}